form {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 8px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #39c340;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
}

input.correcte {
    border: 2px solid green;
}
input.incorrecte {
    border: 2px solid red;
}
